workflow-chatbot-telegramv2.json
{
  "name": "FTR desafio 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3d3a4c2b-e291-466a-8df0-4369049943d4",
      "name": "Telegram Trigger",
      "webhookId": "779fafc7-4e94-402b-ac53-30502449d60e",
      "credentials": {
        "telegramApi": {
          "id": "BbjJYadKg9zNPZth",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c2a72c2-df8b-40ef-b7d3-b579a205298b",
              "name": "queue",
              "value": "={{$json.message.text}}",
              "type": "string"
            },
            {
              "id": "41098bce-945e-4732-b620-db8bd3879dbf",
              "name": "cidade_limpa",
              "value": "={{ $json.message.text.trim().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2fb015d4-9398-42c8-af5f-d862cb8c0379",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.cidade_limpa}}"
            },
            {
              "name": "appid",
              "value": "={{$env.OPENWEATHER_API_KEY}}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "dc2caca5-777e-47a1-9147-3aa56abfe03b",
      "name": "HTTP Request",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "993bdaa8-c671-4364-8689-6ef2691ee03c",
              "leftValue": "={{ $json.weather[0].main }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "38a3484a-69eb-4553-b868-1ff2b66392e9",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}",
        "text": "=🌍 Clima em {{$json.name}}\n\n🌡 Temperatura: {{Math.round($json.main.temp)}}°C\n💧 Umidade: {{$json.main.humidity}}%\n\n☁️ Condição: {{$json.weather[0].description}}\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -96
      ],
      "id": "a2d6b34a-e498-45c0-9ea1-38d87cd9c467",
      "name": "Send a text message",
      "webhookId": "b7decafa-a440-4933-9f6f-e96d6ff0bfd6",
      "credentials": {
        "telegramApi": {
          "id": "BbjJYadKg9zNPZth",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}",
        "text": "=❌ Cidade não encontrada.\n\nTente novamente com um nome como:\nRio de Janeiro\nLisboa\nSão Paulo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        128
      ],
      "id": "22e1a146-d500-427c-9779-d4672f2d8861",
      "name": "Send a text message3",
      "webhookId": "ecaac4dd-db76-40eb-93f6-d1cd71cdbff7",
      "credentials": {
        "telegramApi": {
          "id": "BbjJYadKg9zNPZth",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2cfc0b25-2543-493d-b109-d95d38a27579",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23f292b947865fa01b495ab1a5b9c4d3308a478e017509e50f36ab20b978d3c2"
  },
  "id": "pdIbEgsm3oli6xWd",
  "tags": []
}